.hidden {
    display:none;
}

body {
    position: relative;
    overflow: hidden;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* 나머지 요소들의 스타일링을 여기에 추가하세요 */
#login-form, #clock, #greeting, #todo-form, #todo-list, #quote, #weather {
    position: relative;
    z-index: 1;
}

#clock {
    position: fixed;
    margin-left: 40%;
    margin-top: 20%;
    font-weight: 900;
    font-size: xxx-large;
}

