:root{
    --color_title: #080808;
    --color_title_rgb: 8,8,8;
    --color_body: #101010;
    --color_body_rgb: 16,16,16;
    --color_caption1: #404040;
    --color_caption1_rgb: 64,64,64;
    --color_caption2: #606060;
    --color_caption2_rgb: 96,96,96;
    --color_search: #000;
    --color_search_rgb: 0,0,0;
    --color_border_out: #e3e5e8;
    --color_border_out_rgb: 227,229,232;
    --color_border_in: #ebebeb;
    --color_border_in_rgb: 235,235,235;
    --color_border_in_divider: #ebebeb;
    --color_border_in_divider_rgb: 235,235,235;
    --color_border_in_exception: #ebebeb;
    --color_border_in_exception_rgb: 235,235,235;
    --color_button_border: #dadcdf;
    --color_button_border_rgb: 218,220,223;
    --color_dot_divider: #d3d5d7;
    --color_dot_divider_rgb: 211,213,215;
    --color_block_bg: #fff;
    --color_block_bg_rgb: 255,255,255;
    --color_board_bg: #f4f6fa;
    --color_board_bg_rgb: 244,246,250;
    --color_option_bg: #f5f7f8;
    --color_option_bg_rgb: 245,247,248;
    --color_login_bg: #fafbfb;
    --color_login_bg_rgb: 250,251,251;
    --color_menu_widget_bg: #fff;
    --color_menu_widget_bg_rgb: 255,255,255;
    --color_setting_bg: #fff;
    --color_setting_bg_rgb: 255,255,255;
    --color_button1_bg: #fff;
    --color_button1_bg_rgb: 255,255,255;
    --color_button2_bg: #fff;
    --color_button2_bg_rgb: 255,255,255;
    --color_news: #3a67ea;
    --color_news_rgb: 58,103,234;
    --color_news_econ_stay: #909aab;
    --color_news_econ_stay_rgb: 144,154,171;
    --color_news_econ_down: #4f67d6;
    --color_news_econ_down_rgb: 79,103,214;
    --color_live_news_price: #f4361e;
    --color_live_news_price_rgb: 244,54,30;
    --color_enter: #e538e2;
    --color_enter_rgb: 229,56,226;
    --color_enter_bg: #f2f1fb;
    --color_enter_bg_rgb: 242,241,251;
    --color_sports: #1f65ef;
    --color_sports_rgb: 31,101,239;
    --color_sports_bg: #f4f7fe;
    --color_sports_bg_rgb: 244,247,254;
    --color_econ: #008f76;
    --color_econ_rgb: 0,143,118;
    --color_calendar: #eb5b5b;
    --color_calendar_rgb: 235,91,91;
    --color_dic: #031f5f;
    --color_dic_rgb: 3,31,95;
}
*{
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: rgba(0,0,0,0);
}
html,body, form, ul{
    margin:0;
    padding: 0;
    font-size: 10.5px;
    line-height: 10.5px;
    letter-spacing: -0.4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Malgun Gothic',sans-serif, "맑은고딕",Helvetica, sans-serif;
}
form, ul{
    margin: 0;
    padding: 0;
}

#wrap{
    text-align: center;
}

#wrap-center{
    width: 1280px;
    display: inline-block;  
}

#main{
    height: 2000px
}

#header{
    text-align: left;
    position: relative;
    height: 64px;
}
#header-hamburger, #header-naverpay, #header-notice {
    position: absolute;
    top:18px;
    padding: 10px;
    display: inline-block;
    background: none;
    border: none;
    cursor:  pointer;
}

#header-hamburger:hover::before , #header-naverpay:hover::before,  #header-notice :hover::before {
    position: absolute;
    content: ' '; 
    top:1px;
    left: 1px;
    width: 44px;
    height: 44px;
    background-color: var(--color_option_bg);
    border-radius :50%;
}
#header-hamburger > div, #header-naverpay > div, #header-notice  > div{
    background-image: url("./sp_main.png");
    z-index: 1;
    position: relative;
    background-repeat: no-repeat;
    background-size: 422px 405px;
    height: 26px;
}

#header-hamburger{ 
    left:-10px;
}


#header-hamburger:hover > div {
    position: relative;
    left: 1px;
    top:1px;
}

#header-hamburger > div {
    
    width: 26px;
    background-position: -335px -284px;
}
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

#header-naverpay { 
    right: 42px;
    width:46px;
    height:46px;
    padding: 10px 8px;
}


#header-naverpay:hover > div {
    position: relative;
    left: 1px;
    top:1px;
}

#header-naverpay > div {
    width: 30px;
    background-position: -31px -316px;
}
#header-notice { 
    right: -10px;
    padding: 10px;
}

#header-notice :hover > div {
    position: relative;
    left: 1px;
    top:1px;
}

#header-notice  > div {
    width: 26px;
    background-position: -364px -27px;
}
#search > form { 
    display: inline-flex;
    width: 708px;
    height: 60px;
    border: 1px solid #03c75a;
    border-radius: 33px;
    text-align: left;
}
#search > form:hover{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
}

#search-svg {
    display: inline-flex;
    width:68px;
    height:100%;
    margin-right: 12px;
    padding-left: 10px;

    align-items: center;
    justify-content: center;
    position: relative;
}


#search-svg::after{ 
    display: none; 
}

#search > form:focus-within #search-svg::after{ 
    display: inline-block;
    position: absolute;
    content: '';
    width:1px;
    height:20px;
    background-color: #e4e4e4;
    right:0;
    top:20px;
}

#search-input {
    width:480px;
    padding: 17px 0;
    font-size: 2rem;;
    line-height:24px;
    font-weight: bold;

    border:none;
    outline: 0;
}

#search-input::placeholder {
    color:white;
}

#search-input:focus::placeholder {
    color: #e4e4e4
  }  
#search-svg svg{
    width: 24px;
    height: 24px;
    fill: #03c75a;
}

#search-right{
    display: inline-block;
    flex:1;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
   
}
#search-keyboard::before, #search-recent::before, #search-button >div::before {
    content: '';
    display: block;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.752c7542.png);
    background-size: 422px 405px;
    background-repeat: no-repeat;
}

#search-keyboard::before{   
    background-position: -50px -270px;
    width: 24px;
    height: 16px;
}

#search-keyboard:hover::before{
    filter:brightness(0.7);
}

#search-recent::before{
    background-position: -412px -352px;
    width: 10px;
    height: 6px;
}
#search-button > div::before{
    background-position: -364px -132px;
    width: 25px;
    height: 25px;
}
#search-button  {
    padding: 17px 27px 16px 10px;

}

#search-button > div {
    width: 25px;
    height:25px;
}
/* nav바 디자인 */

#nav {
    margin-top: 12px;
}
#nav > ul {
    display: flex;
    justify-content:center;
    align-items: stretch; 
    font-size: 1.4rem;
}
#nav a{
    text-decoration: none;
    text-align: center;

}
#nav a:visited{
    color: black;

}


/* #nav > li:nth-child(2) /*중간에 형제인 다른 태그들도 같이 카운트(서로 다른 태그 구분 x) */


#nav a div {
    margin: 0 auto;
    position: relative;
    text-align: center;
    display: inline-flex;
}

#nav a div::after{
    position: relative;
    z-index: 1;
    content: '';
    display: inline-block;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.752c7542.png);
    background-size: 422px 405px;
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
    margin: 2px;
}

#nav li a div::before{
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: -3px;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.752c7542.png);
    background-size: 422px 405px;
    background-position: 0px -128px;
    background-repeat: no-repeat;
    width: 54px;
    height: 54px;
}

#nav li:nth-of-type(1) a div::after/*같은 태그인 친구들만 카운트 (서로 다른 태그 구분) */ { 
    margin-left: 0;
    background-position: -250px -90px;
}

#nav li:nth-of-type(2) a div::after{
    background-position: -250px 0px;
}
#nav li:nth-of-type(3) a div::after{
    background-position: -201px -98px;
}
#nav li:nth-of-type(4) a div::after{
    background-position: -90px -209px;
}

#nav li:nth-of-type(5) a div::after{
    background-position: 0px -209px;
}

#nav li:nth-of-type(6) a div::after{
    background-position: -180px -209px;
}

#nav li:nth-of-type(7) a div::after{
    background-position: -45px -209px;
}
#nav li:nth-of-type(8) a div::before{
    left: 0;
}
#nav li:nth-of-type(8) a div::after {
    background-position: -201px 0px;
    width: 48px;
    height: 48px;
    top:-2px;
}

#nav li:nth-of-type(9) a div::after{
    background-position: -225px -209px;

}
#nav li:nth-of-type(10) a div::after{    
    background-position: -250px -135px;
  }

#nav li {
    width: 64px;
    margin-left: 4px;
    display: flex;
    justify-content: center;
}

#nav li a span {
    display: inline-block;
    margin-top: 11px;
}

#nav li:nth-of-type(8) a div::after { /*지도 부분 크기 오류 해결 */
    width: 44px;
    height: 44px;
}
/* 메인 부분 꾸미기 */
#main{
    margin-top: 51px;
    display: flex;
}

#main-left{
    width: 830px;
    margin-right: 30px;
}

#main-right{
    width: 420px;
}

#main-right-ad, #main-left-ad {
    background-color: gray;
}
aside[id$=ad]{  /*aside인데 id가 ad로 끝나는 것들 */
    border-radius: 8px;
    margin-bottom: 16px;

}

section[id^=main]{  /*section인데 id가 main으로 시작하는 것들 */
    box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0,0,0,.04);
    border-radius: 8px;
}

#main-left-ad {
    height: 130px;
    margin-bottom: 16px;
}
#main-login{
    height:164px;
    margin-bottom: 16px;
    padding: 21px 20px 18px;
    font-size: 1.4rem;
    display: flex;
    flex-flow: column;
}
#main-login > div:first-child{
    line-height: 20px;
}
#main-login-btn {
    margin-top: 13px;
    padding-left: 17px 0;
    border: 1px solid rgba(0,0,0,.06);
    background-color: #03c75a;
    height:56px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    margin-bottom: 16px;

}

#main-login-btn i {
    background-image: url(./sp_main.png);
    background-size: 422px 405px;
    background-position: -120px -166px;
    background-repeat: no-repeat;
    width: 72px;
    height: 14px;
    display: inline-block;
    margin: 3px 8px 0 0;
    margin-top: 5%;
}

#main-login > div:last-of-type{
    font-size: 1.3rem;
}

#main-login > div:last-of-type > a {
    text-decoration: none;
    color: #606060;
    color: var(--color_caption2);
    letter-spacing: -0.4px;
}

#main-login > div:last-of-type > a:hover {
    text-decoration: underline;
}

#main-login > div:last-of-type > a:nth-of-type(2)::before,
#main-login > div:last-of-type > a:nth-of-type(2)::after   {
    content: '';
    display: inline-block;
    width: 1px;
    height:12px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    margin: 4px 12px 0;

}
#main-newstand{
    height:426px;
    display: flex;
    flex-flow: column;
}
.left-section {
    flex: 1;
    padding: 18px 20px;
}

#main-right-ad {
    height:240px;
    margin-bottom: 16px;
}
.weather_stock {
    padding: 0 18px;
}

.weather_stock > header {
    height:52px;
    padding:6px 0;
}

.weather_stock > div {
    border-top:1px solid var(--color_border_in);
}

#main-weather{
    height: 236px;

}
#main-shopping{
    height: 560px;
    margin-bottom: 16px;
}

#main-stock{
    height:236px;
}

.left-section a {
    text-decoration: none;
}

.left-section a:hover{
    text-decoration: underline;
}

.left-section header{
    font-size: 1.6rem;
    color:rgba(8,8,8,.5);
    display: flex;
    justify-content: flex-start;
    line-height: 23px;
    margin-bottom: 17px;
}
#main-newstand-grey {
    display: flex;
    justify-content: flex-start;
    height: 50px;
    padding: 12px 20px;
    border-radius: 4px;
    background-color: var(--color_option_bg);
    font-size: 1.4rem;
    line-height: 26px;
}
.left-section header .bold {
    font-weight: bold;
    color: #000;
}

.left-section a:visited {
    color: inherit;
}

.left-section footer{
    padding:10px 0 11px;
    border-top: 1px solid var(--color_border_in);
}

#main-newstand-grid{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 224px;
    grid-gap: 1px;
    background-color: var(--color_border_in);
    border: 1px solid var(--color_border_in);

    grid-template-rows: repeat(4, 1fr);
    width: 790px;
    grid-template-columns: repeat(6, 1fr);
    border-radius: 4px;
    margin-top: 18px;

}

#main-newstand-grid > div {
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section .dot::before{
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    margin: 9px 7px 0;
    border-radius: 50%;
    vertical-align: top;
}
.left-section .slash{
    position: relative;
    padding-left: 26px;

}
.left-section .slash::before{
    content: '';
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 13px;
    width: 1px;
    height: 15px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    -webkit-transform: skewX(-15deg); /*다른 브라우저에서도 됨*/
    -ms-transform: skewX(-15deg);
    transform: skewX(-15deg);
    font-weight: 800;
}

#main-newstand-grey .left{
    display: flex;
    flex:1;
}

#main-newstand-grey .left > a:first-of-type::after{
    content: '';
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.752c7542.png);
    background-size: 422px 405px;
    background-position: -412px -366px;
    background-repeat: no-repeat;
    width: 9px;
    height: 6px;
    display: inline-block;
    margin: 10px 0 0 5px;
    vertical-align: 3px;
}

#main-newstand-grey .left > a:first-of-type {
    width:85.5px;
}

#main-newstand-ani {
    padding-left: 25px;
    position: relative;

}

#main-newstand-ani::before{
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 12px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    width: 1px;
    height: 12px;
}
#main-newstand-ani a:first-of-type{
vertical-align: top;
}

#main-newstand-ani a:first-of-type::after{
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    margin: 12px 6px 0 6px;
    border-radius: 50%;
    vertical-align: top;
}

#main-newstand-ani a:last-of-type{
    text-overflow: ellipsis;
    width: 420px;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
}
#main-newstand-grey .right{
    display: flex;
}

#main-newstand-grey .right > a {
    position: relative;
}
#main-newstand-grey .bold {
    font-weight: bold;
    padding-left: 25px;
    position: relative;
}
#main-newstand-grey .bold::before {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 12px;
    width: 1px;
    height: 12px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
}

.left-section footer{
    border-top: 1px solid var(--color_border_in);
    padding: 10px 0 11px;
    font-size:1.3rem;
    line-height:35px;
    font-weight: 600;
    color: var(--color_caption2);
    display: flex;
    justify-content: center;
    position: relative;
}
.left-section footer .news{
    color: var(--color_news);
}

.left-section footer .list,
.left-section footer .grid{
    position: absolute;
    border: none;
    cursor: pointer;
    top:0;
}
.left-section footer .list{
    right:49px;
    padding: 18px 9px 18px 20px;
}
.left-section footer .grid{
    right:0;
    padding: 18px 20px 18px 9px;
}

.left-section footer .list::before{
    content:'';
    display: inline-block;
    background-image: url(./sp_main.png);
    background-size: 422px 405px;
    background-position: -107px -368px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}
.left-section footer .list:hover:before{
    background-position: -86px -368px;
}

.left-section footer .grid::before{
    content:'';
    display: inline-block;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.752c7542.png);
    background-size: 422px 405px;
    background-position: -391px 0px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.left-section footer .total {
    color: rgba(96,96,96,.5);
}

.left-section footer .text{
    padding:0 16px;
    min-width: 156px;
}
.left-section > footer .prev, .left-section> footer .next{
    background: none;
    border: none;
    content:'';
    width: 36px;
    height: 36px;
    border: 1px solid #dadcdf;
    border: 1px solid var(--color_button_border);
    background-color: #fff;
    background-color: var(--color_button1_bg);
    display: inline-block;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.06);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.06);
    border-radius: 50%;
    vertical-align: top;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-section > footer .prev::before, .left-section> footer .next::before{
    content: "";
    display: inline-block;
    background-image: url(https://pm.pstatic.net/resources/asset/sp_main.752c7542.png);
    background-size: 422px 405px;
    background-position: -412px -39px;
    background-repeat: no-repeat;
    width: 10px;
    height: 12px;
}

.left-section > footer .prev::before{
    transform: rotate(180deg);
}

.left-section footer .hot{
    color: #9858f5;
}

#main-shopping footer .text {
    min-width: 187px;
}

#main-shopping-grey {
    display:flex;
}
#main-shopping-top {
    padding-top: 19px;
}
#main-shopping-grey .left{
    width:668px;
    height:50px;
    padding:18px 20px 18px;
    display: flex;
    background: var(--color_option_bg);
}

#main-shopping-grey .right{
    margin-left:auto;
    padding:10px 0;
}
#main-shopping-ani a{
    position: relative;
}
#main-shopping-ani a::before{
    content: "";
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 3px;
    height: 3px;
    background-color: #d3d5d7;
    background-color: var(--color_dot_divider);
    border-radius: 50%;
}