:root {
    --color-dark-grey: #282828;
    --color-green: #4dff53;
  }
  
  /* 기본 폰트 */
  @font-face {
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
      format("woff");
    font-weight: 400;
    font-style: normal;
  }
  
  /* 제목 폰트 */
  @font-face {
    font-family: "PilseungGothic";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/PilseungGothic.woff2")
      format("woff2");
    font-weight:100;
    font-style: normal;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    font-family: "Pretendard-Regular";
    color: white;
  }

body{
    display: flex;
    justify-content: center;
}

  /* 모바일 뷰*/
.container{
    width: 375px;
    height: 100vh;

    background-color: black;
    padding: 20px 25px;
}


h1{
    font-family: "PilseungGothic";
    font-size: 24px;
    margin-bottom: 50px;
}

/* 캘린더 */
#calendar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

#calendar > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#calendar > li > * {
    font-size: 12px;
}

#calendar > li > time {
    width: 20px;
    height: 20px;
    background-image: url(images/todo_icon.svg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calendar > li > #today {
    background-color: var(--color-green);
    color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

main > h2 {
    font-size: 16px;
    color: var(--color-green);
    background-color: var(--color-dark-grey);
    
    width: max-content;
    padding: 8px 10px;
    border-radius: 20px;
    
    display: flex;
    align-items: center;

    margin-bottom: 10px;
}


main > h2 > button {
    background-color: transparent;
    border: 1px solid var(--color-green);
    border-radius: 50%;

    width: 18px;
    height: 18px;

    margin-left: 5px;
    cursor: pointer;
}

main > h2 > button > span {
    color: var(--color-green);

    position: relative;
    bottom: 1px;
    padding-bottom: 3px;
    line-height: 1px;
}

main > h2 > button:hover {
    background-color: var(--color-green);
}

main > h2 > button:hover > span {
    color: var(--color-dark-grey);
}

main > ul > li {
    list-style: none;
  
    display: flex;
    gap: 10px;
  
    margin: 20px 10px;
  }
  
  main > ul > li::before {
    content: "";
    background-image: url(images/todo_icon.svg);
  
    width: 20px;
    height: 20px;
  
    display: block;
    background-size: cover;
  
    cursor: pointer;
  }
  
  main > ul > li.checked::before {
    content: "";
    background-image: url(images/todo_icon_fill.svg);
  
    width: 20px;
    height: 20px;
  
    display: block;
    background-size: cover;
  
    cursor: pointer;
  }

  /*할 일 입력창*/
#list-container > li >input {
    border: none;
    border-bottom:1px solid var(--color-dark-grey);
    background-color: transparent;

    padding-bottom: 7px;

    font-size: 16px;
}

  #list-container > li > button > small {
    color: var(--color-dark-grey);
    font-weight: 200;
    position: relative;
    top: -1px;
    line-height: 1px;
  }
  
  #list-container > li > button {
    background-color: var(--color-green);
    border: none;
    border-radius: 50%;
  
    width: 18px;
    height: 18px;
  }
  
  #list-container > li > input:focus {
    outline: none;
  }

  #list-container > li > button:hover {
    color: var(--color-green);
  }